body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 18px;
    margin-right: 10px;
  }
  
  input {
    font-size: 18px;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  
  @media (max-width: 600px) {
    h1 {
      font-size: 24px;
    }
  
    label {
      font-size: 16px;
      margin-right: 5px;
    }
  
    input {
      font-size: 16px;
      padding: 5px;
      margin-bottom: 10px;
      width: 100%;
      box-sizing: border-box;
    }
  
    button {
      font-size: 16px;
      padding: 5px 10px;
      border-radius: 3px;
    }
  }